* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
}

/* header */

.header__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    max-height: 120px;
}

.header__inner .header_id {
    position: absolute;
    right: 60px;
}
.header__inner .hamburger_menu {
    position: absolute;
    right: 0;
}


/* ハンバーガーメニュー */
.hamburger {
    display: block;
    height: 60px;
    margin-left: auto;
    position: relative;
    z-index: 10;
    width: 60px;
    border: none;
    background-color: transparent;
}

.hamburger.-active .hamburger__line {
    background-color: transparent;
}

.hamburger.-active .hamburger__line::before {
    top: 0;
    transform: rotate(45deg);
}

.hamburger.-active .hamburger__line::after {
    top: 0;
    transform: rotate(-45deg);
}

.hamburger.-active .hamburger__text::before {
    content: '閉じる';
}

.hamburger__line {
    display: block;
    height: 2px;
    position: absolute;
    top: 23px;
    left: 50%;
    transform: translateX(-50%);
    width: 24px;
    background-color: #172e59;
    transition: 0.4s;
}

.hamburger__line:before,
.hamburger__line:after {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    background-color: #172e59;
    transition: inherit;
}

.hamburger__line:before {
    top: -6px;
}

.hamburger__line:after {
    top: 6px;
}

.hamburger__text {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.hamburger__text::before {
    content: "メニュー";
    text-align: center;
    color: #172e59;
    font-size: 10px;
    font-weight: 900;
}

.header {
    width: 300px;
}

.header__nav-area {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 9;
    height: 100vh;
    width: 300px;
    visibility: hidden;
    padding-top: 60px;
    background-color: #fff;
    transition: 0.4s;
}

.header__nav-area.-active {
    left: 0;
    visibility: visible;
}

.global-navigation {
    padding-top: 40px;
    padding-right: 25px;
    padding-bottom: 120px;
    padding-left: 25px;
}

.global-navigation__list>li {
    padding-bottom: 20px;
    border-bottom: 2px solid #e7e9ee;
}

.global-navigation__list>li+li {
    margin-top: 20px;
}

.global-navigation__link_accountregi,
.global-navigation__link_signout,
.global-navigation__link_accountdelete {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #172e59;
    font-weight: 900;
    transition: color 0.4s;
    font-size: 0.875rem;
}

.global-navigation__link.-accordion {
    position: relative;
    background: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    padding: 0;
}

.global-navigation__link.-accordion::after {
    content: '';
    display: block;
    height: 12px;
    position: absolute;
    top: 50%;
    right: 5px;
    width: 2px;
    background-color: #ed3242;
    transform: translateY(-50%);
    transition: transform 0.4s;
}

.global-navigation__link.-accordion::before {
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    top: 50%;
    right: 0;
    width: 12px;
    background-color: #ed3242;
    transform: translateY(-50%);

}

.global-navigation__link.-active::after {
    transform: translateY(-50%) rotate(-90deg);
}

.accordion {
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: 0.4s;
}

.accordion.-active {
    height: auto;
    padding-top: 30px;
    visibility: visible;
}

.accordion__list li {
    font-size: 0.75rem;
}

.accordion__list li+li {
    margin-top: 21px;
}

.accordion__link {
    color: #172e59;
}

/* 背景 */
.main {
    position: relative;
}

.mainvisual img {
    background-size: cover;
    min-height: 100%;
}

.chat {
    position: absolute;
    background-color: white;
    border-radius: 10px;
    width: 80%;
    top: 60px; 
    left: 50%;
    transform: translate(-50%, 0%);
}

/* 入力画面 */
.input_text {
    display: flex;
    justify-content: center;
    align-content: center;
}
/* 出力画面 */
.output {
    overflow: auto;
}

/* footer */
/* 箱 */
.footer {
    background-color: black;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*絶対位置*/
    position: fixed;
    /*最下部固定*/
    bottom: 0;
    margin-top: 60px;
}

/* 文字 */
.footer-text {
    font-size: 16px;
    color: white;
    padding: 30px;
    padding: 30px;
}